# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg-info/
dist/
build/

# Editors / OS
.vscode/
.idea/
.DS_Store
*.swp

# Node
node_modules/

# Logs
*.log
